.login-container{
    height: auto;
    width: 20%;
    margin: 2% auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightskyblue;
    padding: 50px;
    border-radius: 25px;
}
.login-container label{
    text-align: center;
    font-size: 25px;
    margin: 10px 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.login-container input{
    margin: 10px 0;
    padding: 10px;
    width: auto;
    border: 1px solid white;
}
.login-container button{
    padding: 10px;
    margin: 10px 0;
    background-color: lightskyblue;
    cursor: pointer;
    transition: 0.5s;
    color: white;
    border: 1px solid white;
}
.login-container button:hover{
    background-color: rgb(199, 227, 255);
}