.navbar-container {
  padding: 10px 5%;
  background-color: transparent;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  position: absolute;
  width: 100%;


}

.navbar-container ul li {
  list-style-type: none;
}

h2 {
  text-decoration: none;
}



.logo img {
  height: 70px;
  width: auto;
}

.navlink-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: transparent;
}

.userwishlistcart {
  display: flex;
  align-items: center;
  gap: 15px;
}

.userwishlistcart .link {
  text-decoration: none;
  color: black;
  ;
}

.userwishlistcart .icon {
  background-color: white;
  border-radius: 50%;
  padding: 10px;

}

#close-btn {
  margin: 2% 3% 0 0;
}

nav {
  display: flex;
  justify-content: space-between;
}


.menu-container {
  overflow-y: hidden;
}

.menu-container div {
  text-transform: uppercase;
  font-size: 13px;
  padding: 0;
  color: white;
}

.menu-container p {
  font-weight: 700;
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 25px;
}

.menu-container div:hover {
  cursor: pointer;

}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  z-index: 100;
}

.mobile-menu #auth-menu {
  margin: 0;
}

.mobile-menu button {
  align-self: flex-end;
  outline: none;
  border: none;
  background-color: transparent;
  text-transform: uppercase;
  font-family: inherit;
  font-size: 23px;
  color: white;
}

.mobile-menu button:hover {
  cursor: pointer;
}

ul {
  list-style: none;
  margin-top: 40px;
}

ul li {
  margin: 20px 0;
  overflow-y: hidden;
  user-select: none;


}

ul li div {
  text-align: center;
  text-transform: capitalize;
  font-size: 34px;

}

ul li div:hover {
  font-style: italic;
  cursor: pointer;
}

@media(max-width:426px) {
  .navbar-container img {
    width: 130px;
    height: 40px;
  }


  .userwishlistcart {
    gap: 3px;
  }

  .menu-container p {
    font-size: 10px;
    padding: 6px;
  }

  .userwishlistcart .icon {
    padding: 4px;
    border-radius: 60%;
  }

  .userwishlistcart .icon .i {
    height: 10px;
  }

}