.card-container {
  position: relative;
  display: flex;
  width: 15rem;
  height: auto;
  flex-direction: column;
  margin: 5px;
  border-radius: 25px;
  padding-bottom: 10px;
  background-color: rgb(250, 247, 247);
  border: lightgrey 1px solid;
  box-shadow: 1px 3px 6px lightgrey;
  cursor: pointer;

}


.card-img img {
  width: 100%;
  height: 100%;
  border-radius: 25px;
}


.card-category p {
  color: rgb(147, 145, 145);
  margin: 0;
}

.card-title {
  margin: 0 22px 0;
}

.card-title p {
  width: 100%;
  font-size: 17px;
  font-weight: 600;
  margin: 5px 0 0 0;
}

.card-price {
  display: flex;
  margin: 5px 0 0 0;
  align-items: center;

}

.card-price p {
  margin: 5px 0;
  text-align: center;
}



.card-price #discountedprice {
  font-size: 17px;
  font-weight: 500;
  margin: 0 22px 0;

}

.card-price #actualprice {
  margin: 0 10px;
  font-size: 15px;
  text-decoration: line-through;
}

.card-price #discount {
  margin: 0;
  font-size: 15px;
  font-weight: 600;
  color: rgb(88, 158, 229);
}

.btn {
  width: 100%;
  padding: 5px;
  margin-top: 2px;
  cursor: pointer;
}

.card-details {
  width: 100%;
}

.card-details .card-rating {
  color: grey;
}

.card-details .card-rating .star {
  color: grey;
}

.like-button {

  cursor: pointer;
  width: auto;
  color: black;
  transition: color 0.3s ease;
  position: absolute;
  z-index: 1;
  right: 8%;
  top: 6%;

}



.like-button.liked {
  color: red;
}