.product-listing-page {
    position: relative;
    top: 80px;
}

.product-listing-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto 1fr;
    padding: 1% 2%;
    height: auto;
    gap: 10px;

}

.product-listing-container .carousel-container {
    grid-column: 1 / 3;
    background-color: transparent;
    position: sticky;
    height: 9vh;
}

.product-listing-container .carousel-wrapper {
    margin: 0 10%;
}

.product-listing-container .products {
    padding: 0 2%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px 40px;
    justify-content: space-evenly;
    align-content: flex-start;
    height: auto;
    overflow-y: auto;

}

.product-listing-container .filters {
    padding: 0 2% 0 0;

}

.product-listing-container .filters .filter-heading {
    display: flex;
    justify-content: space-between;
}

.product-card-div {
    position: relative;
}

.wishlist-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: transparent;
    border: 0;
    color: grey;
    cursor: pointer;
}

.wishlist-btn .liked {
    color: red;
}

/* Base styles for the carousel */
.carousel-container {
    width: 100%;
    margin: auto;
}

.carousel-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}

.carousel-inner {
    display: grid;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    overflow: hidden;
    height: auto;
}

.carousel-item {
    min-width: 200px;
    /* Adjust as needed */
    flex-shrink: 0;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.carousel-item .category-image-div {
    width: 100px;
    height: 110px;
}

.carousel-image {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.carousel-title {
    margin-top: 10px;
    font-size: 1.2em;
    color: #333;
    transition: 0.3s;
}

.carousel-title:hover {
    color: rgb(88, 158, 229);
}

/* Styles for the navigation buttons */
.carousel-button {
    position: absolute;
    top: 5%;
    background-color: transparent;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    font-size: 1.5em;
    color: black;
    transition: 0.3s;
}

.carousel-button:hover {
    background-color: rgb(88, 158, 229);
    color: white;
}

.carousel-container .carousel-button.left {
    left: 0;
}

.carousel-container .carousel-button.right {
    right: 0;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .carousel-item {
        min-width: 200px;
    }
}

@media (max-width: 480px) {
    .carousel-container {
        width: 100%;
    }

    .carousel-item {
        min-width: 150px;
    }
}