.admin-dashboard-container {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 80px;

}

h1 {
    margin: 1% auto;
    text-align: center;

}

.admin-menu {
    margin: 0 10%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.admin-details {
    border: 1px black solid;
    margin: 2% 20%;
    padding: 3% 0;
    text-align: center;
}

.create-category-details {
    border: 1px black solid;
    margin: 2% 20%;
    padding: 3% 0;
}

.create-category-details h3 {
    text-align: center;
    margin: 0;
}

.create-category-details .new-category form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-category-details .category-table table {
    margin: 0 auto;
    padding: 0 5%;
}

.create-product-details {
    margin: 2% 20%;
    padding: 3% 0;

}



.create-product-details .select-image {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.select-image .img-preview {
    justify-content: center;
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;

}

.select-image .img-preview img {
    height: 100%;
    width: 100%;
}

input[type="file"] {
    color: transparent;
    width: 120px;
    padding-right: 32px;
    margin: 0 auto;
}


.create-product-details form {
    display: flex;
    flex-direction: column;
    margin: 0 20%;
}

.create-product-details form input {
    padding: 2%;
    text-align: center;
    margin: 1% 0;
}

.create-product-details form label {
    padding: 2%;
    text-align: center;
}

.create-product-details form button {
    margin-top: 1%;
    padding: 2%;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid rgba(25, 118, 210, 0.5);
    color: #1976d2;
}

.all-products {
    border: 1px black solid;
    margin: 2% 20%;
}

.all-products h3 {
    text-align: center;
}

.all-products-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: 4%;
    margin: 0 5% 2%;
}

.all-products-details .delete-btn {
    margin: 0 4%;
}

.all-products-details .delete-btn button {
    width: 100%;
    padding: 2%;
    cursor: pointer;
    background-color: transparent;

}